<div>
    <h1><a href="/">Заголовок</a></h1>
</div>

{% for question in questions %}
    <div>
        <p>Дата: {{ question.created_date }}</p>
        <h1><a href="">{{ question.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <p>{{ post.category|linebreaksbr }}</p>
    </div>
{% endfor %}